.btn {
  cursor: pointer;
  text-decoration: none;
  padding: 2px 10px;
  border: 1px gray solid;
  border-radius: 3px;
  color: black;

  &-principal{
    &:hover{
      /* Llamado a variable --> cssnext*/
      border-color: var(--color-principal);
      /* Función de color --> cssnext */
      background-color: color(var(--color-principal) lightness(90%));
    }
  }

  &.no-border {
    border: 0px black solid;
  }

  &.submit {
    background-color: color(lightgray lightness(93%));
    padding: 10px 30px;
    font-size: 40px;
    width: 100%;
    box-shadow: materialize-shadow-helper(1);

    &:hover{
      background-color: color(lightgray lightness(95%));
    }
  }
}
