@import 'botones.css';
@import 'variables.css';
@import 'show.css';

html{
  background-color: #e6e6e6;
  font-family: 'Noto Sans', sans-serif;
}

small{
  color: gray;
}

a {
  text-decoration: none;
}

.LibrosIndex {
  lost-center: 80% 30px flex;

  &-title{
    text-align: center;
    font-size: 44px;
    font-family: 'Indie Flower';
  }

  &-libros{
    lost-column: 2/3;
    background-color: white;
    border-radius: 5px;
    box-shadow: materialize-shadow-helper(1);

    &-container {
      padding: 20px;
    }

    &-table {

    }
  }

  &-info{
    lost-column: 1/3;
    background-color: white;
    border-radius: 5px;
    box-shadow: materialize-shadow-helper(1);
    /*width: 20%;*/

    &-container{
      position: relative;
      width: 100%;
    }

    &-anadir {
      position: relative;
      display: block;
      text-decoration: none;
      text-align: center;
      padding: 30px 0px 30px 0px;
      background-color: dim
      /*border: 1px black solid;*/
      font-size: 30px;
    }

  }
}



td {
  text-align: center;
}
