<div class="LibrosEdit">

<h1>Editing Libro</h1>

<%= render 'form', libro: @libro %>

<%= link_to 'Mostrar', @libro, class:"btn btn-secundario" %> |
<%= link_to 'Cancelar', libros_path, class:"btn btn-cancel" %>

</div>
