<div class="LibrosNew">
  <!-- Para obtener lo esperado con lost(grilla) se debe usar un container -->
  <div class="LibrosNew-container">
    <h1 class="LibrosNew-title"><%= link_to '⬅️', libros_path, class:"btn btn-cancel no-border" %> Nuevo libro  </h1>

    <%= render 'form', libro: @libro %> </br>


  </div>
</div>
